In [1]:
import pandas as pd
import re
import regex as re

Q1

In [21]:
txt="Python Exercises,PHP exercises"
x=re.sub("\s",":",txt)
print(x)

Python:Exercises,PHP:exercises

In [23]:
txt="Python Exercises,PHP exercises"
x=re.sub("[,.]",":",txt)
print(x)

Python Exercises:PHP exercises

In [28]:
txt="Python Exercises,PHP exercises"
new_text = txt.replace(' ', ':').replace(',', '::').replace('.', ':')
print(new_text)

Python:Exercises::PHP:exercises

Q2

In [43]:
data = {'SUMMARY': ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df = pd.DataFrame(data)
df['SUMMARY'] = df['SUMMARY'].str.replace('[^a-zA-Z\s]', '', regex=True)

In [44]:
print(df)

         SUMMARY
0    hello world
1     XXXXX test
2  four five six

Q3

In [45]:
target_string="Jack Be Nimble Jack be nimble Jack be quick Jack jump over The candlestick"
result=re.findall(r"\w{4}",target_string)
print("Match_object:",result)

Match_object: ['Jack', 'Nimb', 'Jack', 'nimb', 'Jack', 'quic', 'Jack', 'jump', 'over', 'cand', 'lest']

Q4

In [46]:
target_string="Jack Be Nimble Jack be nimble Jack be quick Jack jump over The candlestick"
result=re.findall(r"\w{3,6}",target_string)
print("Match_object:",result)

Match_object: ['Jack', 'Nimble', 'Jack', 'nimble', 'Jack', 'quick', 'Jack', 'jump', 'over', 'The', 'candle', 'stick']

Q5

In [54]:
def remove_parentheses(strings):
    pattern = re.compile(r"\(\)")
    modified_strings = []
    for string in strings:
        modified_string = re.sub(pattern, "", string)
        modified_strings.append(modified_string)
    return modified_strings

In [55]:
sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
result = remove_parentheses(sample_text)
print(result)

['example (.com)', 'hr@fliprobo (.com)', 'github (.com)', 'Hello (Data Science World)', 'Data (Scientist)']

Q6

In [30]:
with open('emails.txt', 'r') as file:
    text = file.read()
em = re.sub(r"\s*\([^)]*\)", "", text)
print(em)

["example", "hr@fliprobo", "github", "Hello", "Data"]

Q7

In [33]:
text="ImportanceOfRegularExpressionsInPython"
pattern='[A-Z]+[a-z]+'
matches=re.findall(pattern,text)
print(matches)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Q8

In [34]:
str="RegularExpression1IsAn2ImportantTopic3InPython"
pattern=r'(\d+)([A-Za-z]+)'
result = re.sub(pattern, r'\1 \2', str)
print(result)

RegularExpression1 IsAn2 ImportantTopic3 InPython

Q9

In [43]:
str1="RegularExpression1IsAn2ImportantTopic3InPython"
pat=r'([A-Z][a-z0-9]+|\d+)'
result = re.sub(pattern, r' \1', str1)
result=result.strip()
print(result)

RegularExpression 1 2 3

Q10

In [45]:
df1=pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")
df1

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [46]:
df1['first_five_letters'] = df1['Country'].apply(lambda x: x[:6])

In [47]:
df1.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada

Q11

In [93]:
pattern="^[A-Za-z0-9_]*$"
string="Jack Be Nimble Jack be456 nimble Jack be quick Jack123 jump_over_The candlestick"
result=re.match(pattern,string)
print(result)

None

Q12

In [94]:
pattern="\d+"
text="10 I have to go for a meeting."
matches=re.findall(pattern,text)
print(matches)

['10']

Q13

In [95]:
ip = "315.05.085.182"
string = re.sub('\.[0]*', '.', ip)
print(string)

315.5.85.182

Q14

In [49]:
with open('Sample.txt', 'r') as file:
    text = file.read()
pattern = r"\b([A-Z][a-z]+ \d{1,2}(?:st|nd|rd|th)? \d{4})\b"
dt = re.findall(pattern, text)
print(dt)

['August 15th 1947']

Q15

In [116]:
patterns = "fox|dog|horse"
text = 'The quick brown fox jumps over the lazy dog.'
matches=re.findall(patterns,text)
print(matches)

['fox', 'dog']

Q16

In [112]:
pattern="fox"
text = 'The quick brown fox jumps over the lazy dog.'
matches=re.findall(pattern,text)
print(matches)

['fox']

Q17

In [121]:
pattern="exercises"
text = 'Python exercises, PHP exercises, C# exercises'
matches=re.findall(pattern,text)
print(matches)

['exercises', 'exercises', 'exercises']

Q18

In [125]:
import regex as re
msges=['It was summer. A crow felt very thirsty.',
      'He flew around looking for water. He saw a pot near a house.',
      'He flew down to the pot. There was little water in the pot.',
      'The crow could not reach the water. He thought of an idea. ',
      'He took some small stones and put them one by one into the pot.']
for msg in msges:
    search=re.search("water",msg)
    print(search)

None
<regex.Match object; span=(27, 32), match='water'>
<regex.Match object; span=(42, 47), match='water'>
<regex.Match object; span=(29, 34), match='water'>
None

Q19

In [126]:
def change_date_format(dt):
        return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})', '\\3-\\2-\\1', dt)
dt1 = "2026-01-02"
print("Original date in YYY-MM-DD Format: ",dt1)
print("New date in DD-MM-YYYY Format: ",change_date_format(dt1))

Original date in YYY-MM-DD Format:  2026-01-02
New date in DD-MM-YYYY Format:  02-01-2026

Q20

In [129]:
str="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
pattern=re.compile(r'\d+\.\d{1,2}')
regex_pattern=re.findall(pattern,str)
print(regex_pattern)

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

Q21

In [133]:
target_string="Virat kohli scored 100 in a match"
y=re.search(r"\d{3}",target_string)
print(y)

<regex.Match object; span=(19, 22), match='100'>

Q22

In [2]:
input_string = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
numeric_values = re.findall(r'\d+', input_string)
numeric_values = [int(value) for value in numeric_values]
max_value = max(numeric_values)
print(max_value)

950

Q23

In [9]:
string='RegularExpressionIsAnImportantTopicInPython'
pattern= r'([A-Z][a-z]+)'
result=re.sub(pattern, r' \1', string)
result=result.strip()
print(result)

Regular Expression Is An Important Topic In Python

Q24

In [10]:
string4='Regular expression is an Important Topic in Python'
pattern='[A-Z]+[a-z]+'
matches=re.findall(pattern,string4)
print(matches)

['Regular', 'Important', 'Topic', 'Python']

Q25

In [12]:
string6='Hello hello world world'
pattern=r'\b(\w+)(\s+\1\b)+'
result1=re.sub(pattern, r'\1', string6)
print(result1)

Hello hello world

Q26

In [16]:
target_string="Jill came tumbling after0898"
y=re.search("^\w.+",target_string)
print(y)

<regex.Match object; span=(0, 28), match='Jill came tumbling after0898'>

Q27

In [19]:
string7="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
x=re.findall(r'#\w+', string7)
print(x)

['#Doltiwal', '#xyzabc', '#Demonetization']

Q28

In [21]:
string8="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
pattern=r"<U\+\w{4}>"
y=re.sub(pattern, "", string8)
print(y)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

Q29

In [22]:
with open('date.txt', 'r') as file:
    text = file.read()
pattern = r'\d{2}-\d{2}-\d{4}'
dates = re.findall(pattern, text)
print(dates)

['12-09-1992', '15-12-1999']

Q30

In [25]:
string5="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
pattern=re.compile(r'\b\w{2,4}\b')
m=re.sub(pattern, '', string5)
print(m)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.